
* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    background-color: lightblue;
    .logo {
        width: 150px;
        height: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./assets/logo.png");
    }
    .menu #menu-items {
        display: flex;
        list-style: none;
        align-items: center;
        width: 70%;
        li {
          margin: 5px;
          color: red;
          opacity: 0.7;
          font-weight: bold;
        }
        li:hover {
            opacity: 1;
        }
    }
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 80vh;
    background-image: url("./assets/PRO_MMA_CAGE.jpg");
    h1 {
        color: red;
        font-size: 3rem;
        opacity: 0.7;
    }
}
footer {
    height: 150px;
    border-top: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}


