@import "../components/Header/Header";

* {
    margin: 0;
    padding: 0;
}
 main {
     width: 100%;
     height: 80vh;
     border: solid black;
     background-image: url('./assets/PRO_MMA_CAGE.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     h1 {
         color: red;
         opacity: 0.9;
         font-size: 3em;
         position: absolute;
         top: 0;
         text-shadow: 0.1ch 0.1ch blanchedalmond;
     }
     h2 {
         color: red;
         font-size: 2em;
         position: absolute;
         padding: 1em;
         text-shadow: 0.1ch 0.1ch blanchedalmond;
     }    
 }

 footer {
    width: 100%;
    height: 101px;
    border-top: 2px solid black;
    background: linear-gradient(to right, rgb(238, 5, 5), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        color: blanchedalmond;
    }
 }