.navigation {
  padding: 5px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navigation li {
  margin-right: 0.5em;
  font-size: 1em;
  font-weight: bold;
  color: blanchedalmond;
}

.navigation li:hover {
  text-decoration: overline underline;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navigation {
    padding: 10px;
  }
  li {
    margin-left: 2em;
    font-size: 1.3em;
  }
}

Header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#ee0505));
  background: linear-gradient(to right, white, #ee0505);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

Header .logo {
  max-width: 100px;
}

@media screen and (min-width: 600px) {
  Header {
    height: 101px;
    border-bottom: 2px solid black;
  }
}

.about {
  width: 100vw;
  height: 90vh;
  position: relative;
  background-color: blanchedalmond;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .block {
  display: inline-block;
}

.about #aboutPhoto {
  max-width: 300px;
  max-height: 300px;
  -webkit-box-shadow: 0.5ch 0.5ch 0.5ch red;
          box-shadow: 0.5ch 0.5ch 0.5ch red;
  margin: 3%;
}

.about #aboutText {
  padding: 5%;
  overflow-y: scroll;
  font-size: 1.2em;
}

@media screen and (min-width: 600px) {
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #aboutPhoto {
    width: 400px;
  }
  #aboutText {
    max-width: 1080px;
    font-size: 1.5em;
  }
}

.eventInfo {
  width: 80vw;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid black;
  margin: 3em;
}

.eventsPage {
  width: 100vw;
  max-height: 80vh;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 90vh;
  background-image: url("./assets/boxerS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .mainH1 {
  color: red;
  opacity: 0.9;
  font-size: 2em;
  position: absolute;
  top: 0;
  text-shadow: 0.1ch 0.1ch blanchedalmond;
}

main .mainH2 {
  color: red;
  font-size: 1.5em;
  position: absolute;
  padding: 1em;
  text-shadow: 0.1ch 0.1ch blanchedalmond;
}

footer {
  width: 100%;
  height: 70px;
  border-top: 1px solid black;
  background: -webkit-gradient(linear, left top, right top, from(#ee0505), to(white));
  background: linear-gradient(to right, #ee0505, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerH3 {
  color: blanchedalmond;
}

@media screen and (min-width: 600px) {
  main {
    width: 100%;
    height: 90vh;
    background-image: url("./assets/PRO_MMA_CAGE.jpg");
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .mainH1 {
    color: red;
    opacity: 0.9;
    font-size: 3em;
    position: absolute;
    top: 0;
    text-shadow: 0.1ch 0.1ch blanchedalmond;
  }
  main .mainH2 {
    color: red;
    font-size: 2em;
    position: absolute;
    padding: 1em;
    text-shadow: 0.1ch 0.1ch blanchedalmond;
  }
  footer {
    height: 101px;
    border-top: 2px solid black;
  }
}
/*# sourceMappingURL=styles.css.map */